.Contact__container {
  padding: var(--page-margin-top-bottom) var(--page-margin-sides)
    var(--page-margin-top-bottom);
}

.Contact__header {
  margin-bottom: 8vw;
  grid-column: 1/13;
  justify-self: center;
}

@media (min-width: 500px) {
  .Contact__header {
    grid-column: 2/12;
    justify-self: end;
  }
}

.Contact__list {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (min-width: 800px) {
  .Contact__container {
    padding: 0 var(--page-margin-sides) var(--page-margin-top-bottom);
  }

  .Contact__list {
    grid-column: 2/12;
  }
}
