.FeaturedWork__container {
  padding: var(--page-margin-top-bottom) var(--page-margin-sides);
}

.FeaturedWork__header {
  margin-bottom: 13vw;
}

.FeaturedWork__header h2 {
  grid-column: 1/13;
  justify-self: center;
}

@media (min-width: 500px) {
  .FeaturedWork__header h2 {
    grid-column: 2/10;
    justify-self: unset;
  }
}

.FeaturedWork__item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: calc(100vw / 45);
  margin-top: 16vw;
}

.FeaturedWork__item:first-child {
  margin-top: 0;
}

/* .FeaturedWork__break {
  grid-column: 3/11;
  order: 5;
  height: 1px;
  background-color: var(--color);
  opacity: 0.2;
}

.FeaturedWork__item:last-child .FeaturedWork__break {
  display: none;
} */

.FeaturedWork__media:nth-child(odd) {
  display: none;
}

.FeaturedWork__media img {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 4/5;
  border-radius: 0.3rem;
}

@media (min-width: 1100px) {
  .FeaturedWork__media img {
    border-radius: 0.4vw;
  }
}

.FeaturedWork__text {
  display: flex;
  flex-direction: column;
}

.FeaturedWork__text h3 {
  font-weight: 300;
  margin-top: 4vw;
  margin-bottom: 2.8vw;
}

.FeaturedWork__text p {
}

@media (min-width: 500px) {
  .FeaturedWork__text h3 {
    margin-top: 0;
  }
  .FeaturedWork__text p {
  }
}

@media (min-width: 800px) {
  .FeaturedWork__text h3 {
    font-weight: 400;
  }

  .FeaturedWork__text p {
  }
}

.FeaturedWork__link {
  order: 4;
  grid-column: 1/13;
  margin-top: 3vw;
  margin-left: auto;
}

.FeaturedWork__link.desktop {
  display: none;
}

@media (min-width: 500px) {
  .FeaturedWork__link {
    margin-top: auto;
    margin-left: unset;
  }
}

@media (min-width: 800px) {
  .FeaturedWork__text .FeaturedWork__link {
    display: none;
  }

  .FeaturedWork__link.desktop {
    display: initial;
    margin-top: 1vw;
  }
}

/* START odd list items */

.FeaturedWork__item:nth-child(odd) .FeaturedWork__media:nth-child(even) {
  order: 1;
  grid-column: 1/13;
}

@media (min-width: 500px) {
  .FeaturedWork__item:nth-child(odd) .FeaturedWork__media:nth-child(even) {
    order: 1;
    grid-column: 2/8;
    grid-column: 1/7;
  }
}

@media (min-width: 800px) {
  .FeaturedWork__item:nth-child(odd) .FeaturedWork__media:nth-child(even) {
    grid-column: 2/7;
  }
}

.FeaturedWork__item:nth-child(odd) .FeaturedWork__media:nth-child(odd) {
  order: 4;
  grid-column: 8/12;
  height: 42vw;
  margin-top: -20vw;
  /* border: 1px solid blue; */
}

@media (min-width: 1200px) {
  .FeaturedWork__item:nth-child(odd) .FeaturedWork__media:nth-child(odd) {
    height: 36vw;
    margin-top: -16vw;
  }
}

.FeaturedWork__item:nth-child(odd) .FeaturedWork__media:nth-child(odd) img {
  margin-top: auto;
}

.FeaturedWork__item:nth-child(odd) .FeaturedWork__text {
  order: 2;
  grid-column: 1/13;
}

@media (min-width: 500px) {
  .FeaturedWork__item:nth-child(odd) .FeaturedWork__text {
    grid-column: 8/13;
  }
}

@media (min-width: 800px) {
  .FeaturedWork__item:nth-child(odd) .FeaturedWork__text {
    grid-column: 8/12;
  }
}
@media (min-width: 800px) {
  .FeaturedWork__item:nth-child(odd) .FeaturedWork__link {
    order: 3;
    grid-column: 2/7;
    margin-left: auto;
  }
}

/* END odd list items */

/* START even list items */

.FeaturedWork__item:nth-child(even) .FeaturedWork__media:nth-child(even) {
  order: 1;
  grid-column: 1/13;
}

@media (min-width: 500px) {
  .FeaturedWork__item:nth-child(even) .FeaturedWork__media:nth-child(even) {
    order: 1;
    grid-column: 7/13;
  }
}

@media (min-width: 800px) {
  .FeaturedWork__item:nth-child(even) .FeaturedWork__media:nth-child(even) {
    order: 2;
    grid-column: 7/12;
  }
}

.FeaturedWork__item:nth-child(even) .FeaturedWork__media:nth-child(odd) {
  order: 3;
  grid-column: 2/6;
  height: 42vw;
  margin-top: -18vw;
  /* border: 1px solid blue; */
}

@media (min-width: 1200px) {
  .FeaturedWork__item:nth-child(even) .FeaturedWork__media:nth-child(odd) {
    height: 36vw;
    margin-top: -13.8vw;
  }
}

.FeaturedWork__item:nth-child(even) .FeaturedWork__media:nth-child(odd) img {
  margin-bottom: auto;
}

.FeaturedWork__item:nth-child(even) .FeaturedWork__text {
  order: 2;
  grid-column: 1/13;
}

@media (min-width: 500px) {
  .FeaturedWork__item:nth-child(even) .FeaturedWork__text {
    order: 1;
    grid-column: 1/6;
  }
}

@media (min-width: 800px) {
  .FeaturedWork__item:nth-child(even) .FeaturedWork__text {
    grid-column: 2/6;
  }
}

@media (min-width: 500px) {
  .FeaturedWork__item:nth-child(even) .FeaturedWork__link {
    grid-column: 7/12;
  }
}

/* END even list items */

@media (min-width: 800px) {
  .FeaturedWork__media:nth-child(odd) {
    display: flex;
  }
}
