.Hero__container {
  position: relative;
  color: var(--background-color);
  width: 100vw;
  min-height: 100vh;
  padding: 0 var(--page-margin-sides);
  padding-bottom: var(--page-margin-top-bottom);
}

.Hero__media {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.Hero__media img {
  object-fit: cover;
  object-position: 0% 0%;
  top: 0;
  width: 100%;
  height: 100%;
}

.Hero__header-container {
  grid-column: 2/12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.MainHeader__header {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.MainHeader__header-sub {
  position: relative;
  font-weight: 200;
}

.MainHeader__header-line-1 {
  position: relative;
  /* overflow: hidden; */
}

.MainHeader__header-line-1 div {
  /* transform: translateY(100%); */
}

html:not(.loading) .MainHeader__header-line-1 div {
  transform: none;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 1s;
}

.MainHeader__header-line-2 {
  display: flex;
}

.MainHeader__header-line-2 > div:first-child {
  position: relative;
  font-weight: 200;
  padding: 0.6vw 2vw 0 0;
  margin-left: auto;
  margin-bottom: auto;
}

.MainHeader__header-line-2 div:nth-child(2) {
  position: relative;
  /* overflow: hidden; */
}

.MainHeader__header-line-2 div:nth-child(2) div {
  /* transform: translateY(100%); */
}

html:not(.loading) .MainHeader__header-line-2 div:nth-child(2) div {
  transform: none;
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 1s;
}

.MainHeader__header-line-1:after,
.MainHeader__header-line-1:before,
.MainHeader__header-line-2 div:nth-child(2):before,
.MainHeader__header-line-2 div:nth-child(2):after {
  content: "";
  position: absolute;
  background-color: var(--background-color);
  transform: scale(0);
}

.MainHeader__header-line-1:before,
.MainHeader__header-line-2 div:nth-child(2):before {
  bottom: 0;
  right: 0;
  left: 0;
  height: 1px;
}

.MainHeader__header-line-1:after,
.MainHeader__header-line-2 div:nth-child(2):after {
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
}

.MainHeader__header-line-2 div:nth-child(2):after {
  left: 0;
}

html:not(.loading) h2.is-inview .MainHeader__header-line-1:before,
html:not(.loading) h2.is-inview .MainHeader__header-line-1:after,
html:not(.loading)
  h2.is-inview
  .MainHeader__header-line-2
  div:nth-child(2):before,
html:not(.loading)
  h2.is-inview
  .MainHeader__header-line-2
  div:nth-child(2):after {
  transform: scale(1);
  transition: transform 2s cubic-bezier(0, 1, 0, 1);
  transition-delay: 1s;
}

.Hero__introduction,
.Hero__description {
  grid-column: 1/13;
  z-index: 0;
  /* margin-top: -13vw; */
}

.Hero__introduction {
  margin-top: -16vw;
}

.Hero__description {
  margin-top: 13vw;
}

@media (min-width: 500px) {
  .Hero__introduction {
    margin-top: -10vw;
  }
}

@media (orientation: landscape) {
  .Hero__header-container {
    margin-top: 3vw;
  }

  .Hero__introduction {
    margin-top: 0vw;
  }
}

@media (min-width: 800px) {
  .Hero__header-container {
    margin-top: 0;
  }

  .Hero__introduction,
  .Hero__description {
    grid-column: 2/12;
    z-index: 0;
  }

  .Hero__introduction {
    margin-top: -7.3vw;
  }

  .Hero__description {
    grid-column: 2/7;
    margin-top: 7.3vw;
  }
}

@media (min-width: 1100px) {
  .Hero__introduction {
    margin-top: -9vw;
  }
}

.Hero__contact {
  margin-top: 10vw;
  grid-column: 1/13;
}

@media (min-width: 800px) {
  .Hero__contact {
    margin-top: 7.3vw;
    grid-column: 7/12;
    justify-self: end;
  }
}
