.LinkWithIcon__link {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.LinkWithIcon__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  margin-top: 0.1em;
  clip-path: circle(40% at 50% 50%);
  border: 1px solid var(--color);
  background-color: var(--color);
  color: var(--background-color);
  transition: clip-path 1s cubic-bezier(1, 0, 0, 1);
}

.LinkWithIcon__link:hover .LinkWithIcon__icon {
  clip-path: circle(8% at 30% 50%);
}

.LinkWithIcon__icon > * {
  font-size: 0.8em;
  transition: transform 1s cubic-bezier(1, 0, 0, 1);
}

.LinkWithIcon__link:hover .LinkWithIcon__icon > * {
  transform: translateX(100%);
}

.LinkWithIcon__title {
  position: relative;
  margin-left: 1vw;
  transition: transform 1s cubic-bezier(1, 0, 0, 1);
  background-color: var(--background-color);
  z-index: 1;
}

.LinkWithIcon__link:hover .LinkWithIcon__title {
  transform: translateX(-1.1em);
}

.LinkWithIcon__title:after {
  content: "";
  position: absolute;
  bottom: -0.1em;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--accent);
  transition: transform 1s cubic-bezier(1, 0, 0, 1);
  transform-origin: left;
  transform: scaleX(1);
}

.LinkWithIcon__link:hover .LinkWithIcon__title:after {
  transform: scaleX(0);
}

.LinkWithIcon__arrow {
  transition: transform 1s, width 1s, margin 1s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  margin-left: 0em;
  width: 0em;
}

.LinkWithIcon__link:hover .LinkWithIcon__arrow {
}

.LinkWithIcon__arrow div {
  font-weight: 100;
  font-size: 1em;
  margin-left: -1.8em;
  transition: transform 1s cubic-bezier(1, 0, 0, 1);
  transform: scale(1);
}

.LinkWithIcon__link:hover .LinkWithIcon__arrow div {
  transform: translateX(1em) scale(1);
}
