.Logo__container {
  display: flex;
  flex-direction: column;
  height: 1.67em;
  width: 2.9em;
}

.Logo__container div:first-child {
  margin-left: auto;
  margin-right: auto;
  padding-right: 0em;
  line-height: 1.4em;
  letter-spacing: 0em;
  font-weight: 200;
  font-size: 0.7em;
}

.Logo__container div:nth-child(2) {
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 0em;
}
