header {
  position: fixed;
  width: 100vw;
  z-index: 1;
  color: var(--background-color);
  opacity: 1;
  transition-timing-function: ease;
  --transition-timing: 300ms;
  --top-bottom-padding: 0.75rem;
  --tablet-icon-width: 3.8vw;
  transition: opacity var(--transition-timing) ease;
}

header.secondary-nav {
  color: var(--color);
}

header.disappear {
  opacity: 0;
  pointer-events: none;
}

.Nav__logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--top-bottom-padding) 0;
  padding-left: var(--page-margin-sides);
  font-size: 7vw;
}

header.secondary-nav .Nav__logo {
  position: absolute;
}

@media (min-width: 500px) {
  .Nav__logo {
    font-size: 5vw;
  }
}

@media (min-width: 800px) {
  .Nav__logo {
    font-size: 3.2vw;
    padding: 2vw 0 2vw 2vw;
  }
}

@media (min-width: 1200px) {
  .Nav__logo {
    font-size: 2.6vw;
  }
}

.Nav__menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-flex;
  padding: calc(var(--top-bottom-padding) + 0.75rem) 0 var(--top-bottom-padding);
  padding-right: var(--page-margin-sides);
  align-items: baseline;
}

@media (min-width: 800px) {
  .Nav__menu-btn {
    display: none;
  }
}

header.secondary-nav .Nav__menu-btn {
  display: inline-flex;
}

@media (min-width: 800px) {
  header.secondary-nav .Nav__menu-btn {
    padding: 2vw 2vw 2vw 0;
  }
}

.Nav__menu-title {
  position: relative;
  overflow: hidden;
}

.Nav__menu-title div,
.Nav__menu-title span {
  transition: transform 500ms, opacity 500ms;
}

html.menu-open .Nav__menu-title div {
  transform: translateY(100%);
  opacity: 0;
}

.Nav__menu-title span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  opacity: 0;
}

html.menu-open .Nav__menu-title span {
  transform: none;
  opacity: 1;
}

.Nav__icon-container {
  position: relative;
  margin-left: 0.5em;
}

header.secondary-nav .Nav__menu-icon,
header.secondary-nav .Nav__close-icon {
  background-color: var(--color);
}

.Nav__menu-icon {
  position: relative;
  transition: transform 500ms;
  transition-delay: 200ms;
  transform-origin: left center;
}

html.menu-open .Nav__menu-icon {
  transform: scale(0);
  transition-delay: 200ms;
}

.Nav__menu-icon,
.Nav__menu-icon:before,
.Nav__menu-icon:after,
.Nav__close-icon,
.Nav__close-icon:after {
  width: 1.6em;
  height: 1px;
  /* transition: transform 500ms; */
}

.Nav__menu-icon:after,
.Nav__menu-icon:before,
.Nav__close-icon,
.Nav__close-icon:after {
  content: "";
  position: absolute;
  left: 0;
  background-color: inherit;
}

.Nav__menu-icon:after {
  transform: translateY(-0.7em) scale(1);
  transform-origin: left;
  transition: transform 500ms;
  transition-delay: 400ms;
}

html.menu-open .Nav__menu-icon:after {
  transform: translateY(-0.7em) scale(0);
  transition-delay: 0ms;
}

.Nav__menu-icon:before {
  transform: translateY(-0.35em) scale(1);
  transform-origin: left;
  transition: transform 500ms;
  transition-delay: 300ms;
}

html.menu-open .Nav__menu-icon:before {
  transform: translateY(-0.35em) scale(0);
  transition-delay: 100ms;
}

.Nav__close-icon {
  top: 0;
  transform: translateY(-0.35em) rotate(45deg) scale(0);
  transition: transform 500ms;
  transition-delay: 100ms;
}

html.menu-open .Nav__close-icon {
  transform: translateY(-0.35em) rotate(45deg) scale(1);
  transition-delay: 400ms;
}

.Nav__close-icon:after {
  transform: rotate(90deg) scale(0);
  transition: transform 500ms;
}

html.menu-open .Nav__close-icon:after {
  transform: rotate(90deg) scale(1);
  transition-delay: 500ms;
}

.Nav__navbar {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: calc(var(--top-bottom-padding) + 0.75em) 0 var(--top-bottom-padding);
  padding-right: var(--page-margin-sides);
}

@media (min-width: 800px) {
  header:not(.secondary-nav) .Nav__navbar {
    display: initial;
  }
}

@media (min-width: 800px) {
  .Nav__navbar {
    padding: calc(2vw + 1vw) 2vw 2vw 0;
  }
}

.Nav__navbar ul {
  display: flex;
  gap: 2rem;
}

.Nav__navbar a {
  position: relative;
}

.Nav__navbar a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.06em;
  width: 100%;
  background-color: var(--background-color);
  opacity: 0.8;
  will-change: transform;
  transform: scale(0);
  transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
  transform-origin: right center;
}

.Nav__navbar a:hover:after {
  transform: scale(1);
  transform-origin: left center;
}

header aside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 var(--page-margin-sides);
  background-color: var(--color);
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  transition: clip-path var(--page-animation-duration);
  transition-timing-function: var(--page-animation-timing-function);
}

html.menu-open header aside {
  clip-path: polygon(0 0, 100% 0, 100% 110%, 0 100%);
}

header aside {
  color: var(--background-color);
}

header aside .Nav__menu-icon,
header.secondary-nav aside .Nav__menu-icon,
header aside .Nav__close-icon,
header.secondary-nav aside .Nav__close-icon {
  background-color: var(--background-color);
}

header aside nav {
  width: 100%;
}

header aside ul {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: calc(100vw / 45);
  gap: 2vw;
}

header aside li {
  grid-column: 1/13;
  text-align: right;
}
