header {
  position: fixed;
  width: 100vw;
  z-index: 1;
  color: var(--background-color);
  opacity: 1;
  transition-timing-function: ease;
  --transition-timing: 300ms;
  --top-bottom-padding: 0.75rem;
  --tablet-icon-width: 3.8vw;
  transition: opacity var(--transition-timing) ease;
}

header.secondary-nav {
  color: var(--color);
}

header.disappear {
  opacity: 0;
  pointer-events: none;
}

.Nav__logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--top-bottom-padding) 0;
  padding-left: var(--page-margin-sides);
  font-size: 7vw;
}

header.secondary-nav .Nav__logo {
  position: absolute;
}

@media (min-width: 500px) {
  .Nav__logo {
    font-size: 5vw;
  }
}

@media (min-width: 800px) {
  .Nav__logo {
    font-size: 3.2vw;
    padding: 2vw 0 2vw 2vw;
  }
}

@media (min-width: 1200px) {
  .Nav__logo {
    font-size: 2.6vw;
  }
}

.Nav__navbar {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: calc(var(--top-bottom-padding) + 0.75em) 0 var(--top-bottom-padding);
  padding-right: var(--page-margin-sides);
}

@media (min-width: 800px) {
  header:not(.secondary-nav) .Nav__navbar {
    display: initial;
  }
}

@media (min-width: 800px) {
  .Nav__navbar {
    padding: calc(2vw + 1vw) 2vw 2vw 0;
  }
}

.Nav__navbar ul {
  display: flex;
  gap: 2rem;
}

/* .Nav__navbar a {
  position: relative;
} */

/* .Nav__navbar a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.06em;
  width: 100%;
  background-color: var(--background-color);
  opacity: 0.8;
  will-change: transform;
  transform: scale(0);
  transition: transform 0.5s cubic-bezier(0.9, 0, 0.1, 1);
  transform-origin: center right;
} */

/* .Nav__navbar a:hover:after {
  transform: scale(1);
  transform-origin: center left;
} */

header aside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 var(--page-margin-sides);
  background-color: var(--color);
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  transition: clip-path var(--page-animation-duration);
  transition-timing-function: var(--page-animation-timing-function);
}

html.menu-open header aside {
  clip-path: polygon(0 0, 100% 0, 100% 110%, 0 100%);
}

header aside {
  color: var(--background-color);
}

header aside .Nav__menu-icon,
header.secondary-nav aside .Nav__menu-icon,
header aside .Nav__close-icon,
header.secondary-nav aside .Nav__close-icon {
  background-color: var(--background-color);
}

header aside nav {
  width: 100%;
}

header aside ul {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: calc(100vw / 45);
  gap: 2vw;
}

header aside li {
  grid-column: 1/13;
  text-align: right;
}

.Nav__scroll-direction {
  position: absolute;
  font-weight: 200;
  bottom: -97vh;
  right: var(--page-margin-sides);
}
header.secondary-nav .Nav__scroll-direction {
  display: none;
}
